@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h4>Add a new Flavor</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Select a Treat")
  @Html.DropDownList("TreatId")

  <input type="submit" value="Add a new Flavor " />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>