@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Add a new Flavor For @Model.Name")
    @Html.EditorFor(model => model.Name)

      @Html.LabelFor(model => model.Treats)
      @Html.DropDownList("TreatId")
    
    <input class="btn btn-default" type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>


